html,
body {
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: var(--bg-color);
  height: 100%;
  color: var(--text-bright);
}

:root {
  --mobile-width: 600px;
  --bg-color: #f8eeed;
  --bg-color-dark: #f2cfd3;
  --text-bright: #d27379;
  --text-color: #4d3d3e;
  --border-color: #f8faf7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
