html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--open-sans-font);
  background-color: var(--bg-color);
  height: 100%;
  color: var(--text-bright);
  background: linear-gradient(
    135deg,
    var(--bg-color) 40%,
    #ffffff 40%,
    #ffffff 70%,
    var(--bg-color) 70%
  );
  /* Start #5cbcb0 from 0 and end at 5%, Start #fff at 5% and end at 15%, Start #5cbcb0 again at 15% and end at 100% */
  background-size: cover;
  background-repeat: no-repeat; /* To avoid multiple instances */
}

:root {
  --primary: #ff9494;
  --secondary: #f7c2c2;
  --accent: #ec7777;

  --mobile-width: 600px;
  --bg-color-dark: #f7c2c2;
  --bg-color: #fceeee;
  --text-bright: #bd6060;
  --text-color: #383838;
  --border-color: #f8faf7;

  --atkinson-font: "Atkinson Hyperlegible", sans-serif;
  --averia-sans-font: "Averia Sans Libre", cursive;
  --open-sans-font: "Open Sans", sans-serif;
  --inter-font: "Inter", sans-serif;
}

h1 {
  font-family: var(--averia-sans-font);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 0.85rem;
  }
}
