.container {
  padding: 0 2rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1rem solid var(--border-color);
  padding: 1rem;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
